In [94]:
# The pound sign marks the start of a comment. Python itself
# ignores the comments, but they're helpful for anyone reading the code.
for i in [1, 2, 3, 4, 5]:
    print(i)                    # first line in "for i" block
    for j in [1, 2, 3, 4, 5]:
        print(j)                # first line in "for j" block
        print(i + j)            # last line in "for j" block
    print(i)                    # last line in "for i" block
print("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

In [2]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 +
                           13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)
long_winded_computation
# print(long_winded_computation)

210

In [3]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
easier_to_read_list_of_lists = [[1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9]]
easier_to_read_list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
two_plus_three = 2 + \
                 3
two_plus_three

5

In [6]:
import re

my_regex = re.compile("[0-9]+",re.I) 

my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [7]:
match = 10
from re import *    # uh oh, re has a match function
print(match)        # "<function match at 0x10281e6a8>"

<function match at 0x00000236B9F372E0>

In [8]:
def double(x):
    """
    This is where you put an optional docstring that explains what the
    function does. For example, this function multiplies its input by 2.
    """
    return x * 2

def apply_to_one(f):
    """Calls the function f with 1 as its argument"""
    return f(1)

my_double = double              # refers to the previously defined function
x = apply_to_one(my_double)     # equals 2

assert x == 2                   # this is a test to make sure x is 2. If it isn't, the program will crash

print(x)                        # prints 2

2

In [9]:
y = apply_to_one(lambda x: x + 4)   # equals 5
assert y == 5                       # this is a test to make sure y is 5. If it isn't, the program will crash
print(y)                            # print the value of y to the output

5

In [10]:
def my_print(message = "my default message"):
    print(message)

my_print("hello")   # prints 'hello'
my_print()          # prints 'my default message'

hello
my default message

In [11]:
def full_name(first = "What's-his-name", last = "Something"):
    return first + " " + last

assert full_name("Joel", "Grus")     == "Joel Grus"

full_name("Joel", "Grus")     # "Joel Grus"

'Joel Grus'

In [12]:
def full_name(first = "What's-his-name", last = "Something"):
    return first + " " + last

assert full_name("Joel")             == "Joel Something"

full_name("Joel")             # "Joel Something"

'Joel Something'

In [13]:
def full_name(first = "What's-his-name", last = "Something"):
    return first + " " + last

assert full_name(last="Grus")        == "What's-his-name Grus"

full_name(last="Grus")        # "What's-his-name Grus"

"What's-his-name Grus"

In [14]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

tab_string = "\t"       # represents the tab character
len(tab_string)         # is 1

assert len(tab_string) == 1

In [15]:
not_tab_string = r"\t"  # represents the characters '\' and 't'
len(not_tab_string)     # is 2

assert len(not_tab_string) == 2

In [16]:
print(repr(tab_string))       # prints '\t'
print(repr(not_tab_string))  # prints '\\t'
print('\\t')

'\t'
'\\t'
\t

In [17]:
multi_line_string = """This is the first line.
and this is the second line
and this is the third line"""

first_name = "Joel"
last_name = "Grus"

full_name1 = first_name + " " + last_name             # string addition
full_name2 = "{0} {1}".format(first_name, last_name)  # string.format

# f-strings, available in Python 3.6 and later
# are the most readable and efficient way to format strings
full_name3 = f"{first_name} {last_name}"

print(full_name1)  # prints 'Joel Grus'
print(full_name2)  # prints 'Joel Grus'
print(full_name3)  # prints 'Joel Grus'

Joel Grus
Joel Grus
Joel Grus

### Início do Repositório, Commits e Pushs

In [70]:
print("Testando o print pelo Workspace")

Testando o print pelo Workspace

In [71]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]

In [72]:
list_length = len(integer_list)     # equals 3

assert list_length == 3

list_length

3

In [73]:
list_sum = sum(integer_list)     # equals 6

assert list_sum == 6

list_sum

6

In [74]:
import this

In [75]:
x, y = [1, 2]    # now x is 1, y is 2


assert x == 1
assert y == 2

_, y = [1, 3]    # now y == 2, didn't care about the first element

y

3

In [76]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3      # my_list is now [1, 3]

try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [77]:
empty_dict = {}                     # Pythonic
empty_dict2 = dict()                # less Pythonic
grades = {"Joel": 80, "Tim": 95}    # dictionary literal

joels_grade = grades["Joel"]        # equals 80


assert joels_grade == 80

In [78]:

try:
    kates_grade = grades["Kate"]
except KeyError:
    print("no grade for Kate!")

no grade for Kate!

In [79]:

joel_has_grade = "Joel" in grades     # True
kate_has_grade = "Kate" in grades     # False

assert joel_has_grade
assert not kate_has_grade

In [80]:
joels_grade = grades.get("Joel", 0)   # equals 80
joels_grade

80

In [81]:
kates_grade = grades.get("Kate", 0)   # equals 0
kates_grade

0

In [82]:
no_ones_grade = grades.get("No One")  # default default is None
print(no_ones_grade)

None

In [83]:
grades

{'Joel': 80, 'Tim': 95}

In [84]:
grades["Tim"] = 99                    # replaces the old value
grades["Kate"] = 100                  # adds a third entry
num_students = len(grades)            # equals 3

assert num_students == 3

In [85]:
grades["Tim"] = 99                    # replaces the old value
grades["Kate"] = 100                  # adds a third entry
num_students = len(grades)            # equals 3

grades

{'Joel': 80, 'Tim': 99, 'Kate': 100}

In [86]:
num_students

3

In [87]:
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [88]:
tweet_keys   = tweet.keys()     # iterable for the keys
tweet_keys

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [89]:
tweet_values = tweet.values()   # iterable for the values
tweet_values

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [90]:
tweet_items  = tweet.items()    # iterable for the (key, value) tuples
tweet_items

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [91]:
"user" in tweet_keys            # True, but not Pythonic
"user" in tweet                 # Pythonic way of checking for keys
"joelgrus" in tweet_values      # True (slow but the only way to check)

True

In [92]:
from collections import defaultdict

# Cria um defaultdict que retorna 0 para chaves inexistentes
contador = defaultdict(int)
print(contador)  # defaultdict(<class 'int'>, {})

# Incrementa contagens
contador['banana'] += 1
contador['banana'] += 1
contador['maçã'] += 1

print(contador)

defaultdict(<class 'int'>, {})
defaultdict(<class 'int'>, {'banana': 2, 'maçã': 1})

In [95]:
# defaultdict with int (useful for counting)
count = defaultdict(int)
count['apple'] += 1
count['banana'] += 2
print("defaultdict(int):", count)

defaultdict(int): defaultdict(<class 'int'>, {'apple': 1, 'banana': 2})

In [96]:
# defaultdict with list (useful for grouping items)
group = defaultdict(list)
group['fruits'].append('apple')
group['fruits'].append('banana')
group['vegetables'].append('carrot')
print("defaultdict(list):", group)

defaultdict(list): defaultdict(<class 'list'>, {'fruits': ['apple', 'banana'], 'vegetables': ['carrot']})

In [97]:
# defaultdict with set (useful for unique sets)
unique_items = defaultdict(set)
unique_items['fruits'].add('apple')
unique_items['fruits'].add('banana')
unique_items['fruits'].add('apple')  # duplicate, won't be added
print("defaultdict(set):", unique_items)

defaultdict(set): defaultdict(<class 'set'>, {'fruits': {'banana', 'apple'}})